<div class="row ">
  <div class="col-md-5 mt-5 m-auto">
    <div class="card card-body">
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label class="mb-2" for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" placeholder="email@example.com...">
        </div>
        <div class="mb-4">
          <label class="mb-2" for="password">Password</label>
          <input class="form-control" type="text" id="password" name="password" placeholder="password...">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">
            Login
          </button>
          <p class="lead mt-2">
            No Account?<a class="register-login" href="/users/register"> Register</a>
          </p>

        </div>
      </form>
    </div>
  </div>
</div>